[submodule "A1_Reversi-Board-Game"]
	path = A1_Reversi-Board-Game
	url = https://github.com/gh0stintheshe11/ECE-1724-Performant-Software-Systems-with-Rust.git
	branch = Reversi-Board-Game
[submodule "A2_Search-Utility"]
	path = A2_Search-Utility
	url = https://github.com/gh0stintheshe11/ECE-1724-Performant-Software-Systems-with-Rust.git
	branch = Search-Utility
[submodule "A3_Web-Client"]
	path = A3_Web-Client
	url = https://github.com/gh0stintheshe11/ECE-1724-Performant-Software-Systems-with-Rust.git
	branch = Web-Client
[submodule "A4_Web-Server"]
	path = A4_Web-Server
	url = https://github.com/gh0stintheshe11/ECE-1724-Performant-Software-Systems-with-Rust.git
	branch = Web-Server
